Django
django-sslserver
djangorestframework
mysql-connector
mysql-connector-python
mysql-connector-python-rf
pyOpenSSL
requests
urllib3




astropy==5.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.6.0
idna==3.3
joblib==1.1.0
lxml==4.8.0
mysql
mysqlclient
numpy
packaging==21.3
pbr==5.8.1
platformdirs==2.5.1
protobuf==3.19.4
pyerfa==2.0.0.1
pyparsing==3.0.7
python-owasp-zap-v2.4 @ git+https://github.com/zaproxy/zap-api-python@fbc0fa235dde329485655e3afd902691ef620199
PyYAML==6.0
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
stevedore==3.5.0
threadpoolctl==3.1.0
virtualenv==20.13.3
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
zap