Django
django-sslserver
djangorestframework
mysql-connector
mysql-connector-python
pyOpenSSL
requests
urllib3
mysql
mysqlclient
wheel
numpy
python-owasp-zap-v2.4 @ git+https://github.com/zaproxy/zap-api-python@fbc0fa235dde329485655e3afd902691ef620199
six
threadpoolctl
virtualenv
zap
django_heroku
gunicorn